.search-box {
    width: 100%;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background: #fff url(../images/search-bg.png) repeat-x;
}

.search-input {
    height: 40px;
    width: 605px;
    line-height: 40px;
    border: 1px solid #d2d2d2;
    padding: 0px 10px;
    float: left;
    margin-top: 36px;
}

.search-button {
    float: right;
    width: 120px;
    height: 40px;
    color: #fff;
    margin-top: 36px;
    cursor: pointer;
    border: none;
    background: #0086d0;
    &:hover {
        background-color: #4faee2;
    }
    .icons-item {
        margin-right: 10px;
    }
}

.search-main {
    width: 850px;
    height: 42px;
    margin: 0px auto;
}

.select-fixed {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 36px;
    margin-right: -1px;
}

.select-fixed .selectyzeValue {
    border: 1px solid #d2d2d2;
}

.select-fixed-145px {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}


/*inner-top begin*/

.select-inner {
    width: auto;
    height: 30px;
    float: right;
    margin-top: 30px;
}


.select-fixed-inner {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: -1px;
}

.select-fixed-145px-inner {
    width: 120px;
    height: 30px;
    line-height: 30px;
}

.search-input-inner {
    height: 30px;
    width: 275px;
    line-height: 30px;
    border: 1px solid #d2d2d2;
    padding: 0px 10px;
}

.search-button-inner {
    width: 96px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    margin-left: 18px;
    font-size: 12px;
    border: none;
    background: #0086d0;
    &:hover {
        background-color: #4faee2;
    }
    .icons-item {
        margin-right: 10px;
    }
}



